/* ADDERS */

.titre-karine {
	font-weight: bold;
	font-size: 110px;
	color: #e6a166;
	line-height: 1;
}
.titre-tagline {
	font-size: 60px;
	color: #fff;
	line-height: 1;
}
.titre-descrip {
	font-size: 25px;
	letter-spacing: 0.15em;
	line-height: 1;
}
@media ( max-width: 495px ) {
	.titre-karine {
		font-size: 65px;
	}
	.titre-tagline {
		font-size: 40px;
	}
	.titre-descrip {
		font-size: 25px;
		letter-spacing: 0;
	}
}

.go-back-up {
	position: fixed;
	bottom: 0;
	width: 50px;
	height: 25px;
	left: 50%;
	margin-left: -25px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	color: #fff;
	text-align: center;
	background-color: rgba(0,0,0,0.95);
	filter: Alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.go-back-up:hover {
	color: rgba(150,150,150,1);
}
.go-back-position {
	filter: Alpha(opacity=100) !important;
	opacity: 1 !important;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.section-adder {
	background-color: #fff;
	color: #444;
}
.title-twocol-color {
	color: #444 !important;
	text-align: center;
}
.btn-top {
	width: 150px;
	margin: 10px 25px 10px 25px;
}
.logo-type-height {
	max-width: 100%;
	height: auto;
}
@media ( max-height: 735px ) {
	.logo-type-height {
		max-width: 300px;
		height: auto;
	}
}
@media ( max-height: 635px ) {
	.logo-type-height {
		max-width: 200px;
		height: auto;
	}
}
.icon-list-icon {
	border-radius: 2%;
}
.icon-list-title {
	font-size: 16px;
	margin: 0;
}
.hr-hono {
	margin: 5px;
}
.header-section.floating {
	min-height: 61px;
}
.two-cols-description-text {
	padding: 40px 0px 0px 0px;
	text-align: justify;
}

.navbar-nav > li.current:not(.header-action-button) > a,
.navbar-inverse .navbar-nav > li.current:not(.header-action-button) > a {
	color: #E6A166;
}
.position-team {
	margin: 90px 0px 90px 0px;
	padding: 15px 15px 15px 15px;
}
.fa-ul li {
	padding: 2px 0px 2px 0px;
}
.background-size-device {
	display: block !important;
}
.background-size-medium {
	display: none !important;
}
.background-size-smd {
	display: none !important;
}
.table-cell-top {
	display: table; 
	width: 100%; 
	height: 100%;"
}
@media ( max-width: 991px ) {
	.background-size-device {
		display: none !important;
	}
	.background-size-medium {
		display: block !important;
	}
	.background-size-smd {
		display: none !important;
	}
	.hero-fullscreen, .hero-fullscreen .container, .hero-fullscreen .container-fluid {
		height: auto;
	}
	.table-cell-top {
		height: auto;
	}
}
@media ( max-width: 770px ) {
	.background-size-device {
		display: none !important;
	}
	.background-size-medium {
		display: none !important;
	}
	.background-size-smd {
		display: block !important;
	}
}
.section-background-image img {
	background-repeat: no-repeat;
}
